@import "../node_modules/antd/dist/antd.css";
@import "./components/top-bar/top-bar.scss";
@import "./styles/cinema.scss";
@import "./styles/page-general-schedule.scss";
@import "./styles/page-cinema-contacts.scss";
@import "./styles/page-films-list.scss";
@import "./styles/page-flim.scss";
@import "./components/recomendation/recomendation.scss";

.layout {
    min-height: 100vh;
    height: 100%;
    &__top-bar {
        height: 64px;
    }
    &__main {
        min-height: 100%;
        height: 100%;
    }
}

* {
    box-sizing: border-box;
}
.main {
    padding: 0px 50px;
    &__content {
        background-color: #fff;
        padding: 24px;
        margin-top: 20px;
    }
}

.spin-loading {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.xzz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maps {
    width: 500px;
    height: 350px;
}


//Antd fix
.layout .logo {
    //Лучше не трогать селектор
    width: 150px;
    height: 40px;
    background: #ffffff33;
    padding: 5px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.ant-form-item {
    margin-bottom: 0px;
}

.ant-card-body {
    padding: 10px;
}

.ant-card-meta-title {
    white-space: normal;
}
